#Team @Dynatrace/open-source-team

/.github/ @Dynatrace/open-source-team

#Docs

/docs/ @Dynatrace/open-source-team
/projects/ @Dynatrace/open-source-team

#Security

/SECURITY.md @Dynatrace/open-source-team
